
  <div class="jumbotron">
    <h1 class="title">环保之路</h1>
    <p class="slogan">既然选择了环保之路，请让我们从此携手同行！
    <br />
    工业极大改善了我们的生活，然而他们也不幸产生了许多污染和浪费。
    <br />
    因此我们赖以生存的环境需要有志于环境保护的你积极投身其中。
    <br />
     以此为业的你，注定充满辛苦的喟叹，
    <br />
     在这里，我们不仅仅想为您找到一份工作，我们更希望为您找到一份价值！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>北京朝阳建外SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>info@18koffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
