/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//------------------navbar---------------------------
.navbar-default {
   background-color: #CFD8DC;  //背景颜色

   border-color: #CFD8DC; //边框色

  //  margin-bottom: 0; //底部 margin 不撑开距离
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

//------------------navbar固定在顶部---------------------------
.navbar-fixed-top {
    top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}

//------------------logo 图片样式定义----------------------------
 .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
 }

//------------------修改 Logo 字体颜色和对齐样式----------------------------
 .navbar-default .navbar-brand {
   color: #388E3C; //字体颜色

   padding: 10px 15px; //上下10px，左右15px
   line-height: 30px; //文字行高
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: #66BB6A; //鼠标放置在链接上的文字颜色

   background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
 }

//------------------修改导航栏链接颜色----------------------------
.navbar-default .navbar-nav > li > a{
 color: #388E3C;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color: #66BB6A;

 background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
 color: #66BB6A;

 background-color: #A5D6A7;

}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
 background-color: #A5D6A7;

 color: #263238;

}


//---------Box---------

.box {
    background-image: url("http://ww1.sinaimg.cn/large/006tNbRwgy1fewp2ldj3jj31kw11xqvb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: -20px;

    .box-inner {

        padding-bottom: 5px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .title {
        text-align: center;
        margin-bottom: 80px;
        color: #004D40; //字体颜色
    }

    .slogan {
        color: #222;
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 25px;
        top: 12px;
        color: #004D40; //字体颜色
    }

    .lead {
        margin-bottom: 60px;
        text-align: center;
        color: white;
    }
}


 //---------Content---------

 .content-section-a {
     padding: 50px 0;
     background-color: #f8f8f8;
 }

 .content-section-b {
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }

 .section-heading-spacer {
     float: left;
     width: 200px;
     border-top: 3px solid #e7e7e7;
 }

 .section-heading {
     margin-bottom: 30px;
 }

 .lead {
     font-size: 18px;
     font-weight: 400;
 }

  //---------Footer---------

  footer {
      color: black;
  }

  footer .footer-below {
      padding: 25px 0;
      background-color: #CFD8DC;
  }

//----------Keep the footer at the bottom---------
html { height: 100%;}
  body { min-height: 100%; display: flex; flex-direction: column;}
  .content { flex: 1;}

  //------------------管理员后台页面表格样式----------------------------
.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

//---------navbar搜索框大小------------
#search-id {
width: 200px;
padding-top: 7px;
}

//---------navbar search----------
.input-group input {
  background: rgb(221,228,230);
  color: #388E3C;
  border-width: 0;
}

.btn-search {
  background-color: rgb(221,228,230);
  color: #388E3C;
}

//--------navbar搜索框margin-----------
.nav-search{
  margin-right: 50px;//让搜索框与注册登录按钮隔开一定距离
}

//--------search结果页面---------
.jobs-show0 {
  border-bottom: 1px dotted #CCC;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}

.jobs-show {
  border-bottom: 1px dotted #CCC;
  padding: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}



/* Search.html.erb
*/

.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #0d6ded;
  font-size: 20px;
  text-align: center;
}


/*===== user ====*/
.user_setup{
    height: 1200px;//设置块高过小的话，在较大屏幕上背景图与footer之间会存在空白区域
    background: url("http://ww2.sinaimg.cn/large/006tNbRwgy1ff4v3tlpglj31kw11xhdy.jpg") no-repeat scroll top center/ cover;//cover 可让背景图自适应调整大小填满div区域
}

.user_setup_content{
    background: rgba(241,248,233 ,0.6);
    margin-top: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 3px 5px #333;
    border: 5px solid #1B5E20;
    border-radius: 25px;

    opacity:0.95;
    filter:alpha(opacity=95);

    h2{
      text-align: center;
    }

    .psw{
      float: right;
      margin-top: -33px;
      position: relative;
    }

    .account{
      text-align: center;
    }

    .form-inputs{
      margin-top: 25px;
    }

    .form-actions{
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px;

      .button{
        color: #fff;
        background-color: #4A6BB5;
        border-color: #4A6BB5;
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #4A99B5;
          border-color: #4A99B5;
          color: #fff;
      }
    }
}


//-----------用户反馈---------------
.talk-about-us {
    padding-bottom: 160px;
    padding-top: 60px;
    color: #666;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h2.section-title {
    color: #4C4C4C;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.short-line {
    display: block;
    background: #43A047;
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 30px;
    z-index: 53;
    width: 100px;
    height: 1.5px;
    position: relative;
}

.carousel {
    position: relative;
}

div {
    display: block;
}

.text-center {
    text-align: center;
}

.talk-about-us {
    padding-bottom: 160px;
    padding-top: 60px;
    color: #666;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}

.talk-about-us .carousel-indicators {
    bottom: -70px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.talk-about-us .carousel-indicators>li {
    background-color: #dcdcdc;
    border: 0 none;
    height: 10px;
    margin: 1px;
    width: 10px;
    border-radius: 0;
    margin: 0 5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.talk-about-us .carousel-indicators li.active {
    background-color: #2E7D32;
}

.carousel-inner>.active {
    left: 0;
}

.talk-about-us .item>img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.about-us img, .carousel-inner>.item>img {
    height: 400px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}

img {
    vertical-align: middle;
}

.talk-about-us strong {
    margin-top: 25px;
    color: #2E7D32;
    font-weight: 600;
    font-style: italic;
}

.thick {
  font-weight: bold
}
