<footer class="text-center">
   <div class="footer-below">
       <p class="text-center">Copyright ©2017 E.E.C
           <br>Design by <a href="http://zhongxh-blog.logdown.com/" target="_blank">Benjoyar</a>
       </p>
   </div>
</footer>
